*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: darkcyan;
}

header{
    
}

.title{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aquamarine;
   
  }


 h1{
    color:yellowgreen;
    width: 80%;
    height: 10vh;
    background-color: blue;
    padding: 5px auto;
          }


div{

    height: 350px;
    width: 300px;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  
   
} 

div:nth-child(3):hover{
    background-color: brown;
    transform: rotate(20deg);
    transition: all 0.6s ease-in;
    border-radius: 80px;
    
}


section{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
}



.caja1{
    background-color: rgb(32, 13, 237);
}


.caja2{
    background-color: rgb(250, 253, 250);
    color: tomato;
}

.caja3{
    background-color: rgb(23, 236, 12);
}

.caja4{
    background-color: rgb(233, 241, 12);
   
}








 /*first movile*/




@media (min-width:1400px){
    
}

@media (min-width:1200px){
  
}

@media  (min-width:1024px){
  
}

@media  (min-width:768px){
    
   

}

@media  (min-width:600px){
   
}



@media  (min-width:320px) and (max-width:480px){
   
    .caja3{
        background-color: rgb(7, 7, 7); /*soy negro desde los 320 hasta 480 px*/
        line-height: 150px;
        } 
}