*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: darkcyan;
}

header{
    background-color: darkblue;
}

.title{width: 100vw;
    height: 20vh;}



div{
    border: 1px solid rgb(250, 243, 242);
    height: 200px;
    width: 200px;
    color: aliceblue;
   text-align: center;
   
}




section{
display: flex;
    height: 50vh;
    border: 1px solid rgb(250, 243, 242);
    align-items: center;
    justify-content: space-evenly;
}



.caja1{
    background-color: burlywood;
}
.caja4{
    background-color: rgb(241, 142, 12);
}
.caja3{
    background-color: rgb(174, 105, 161);
}
.caja2{
    background-color: rgb(142, 222, 135);
}